/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */ */
body{
  background-color: #000000;
}

.signup-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 25px;
  background-color:transparent;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(124, 61, 219, 0.2);
   margin-left: 3%;
   margin-top: 0%;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
}

input {
  padding: 5px;
  border-radius: 4px;
  border: 0.1px solid #afafba;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  background-color:rgb(9, 9, 60);
  box-shadow: 0 0 2px 1px #007bff;  
  color: #fff;
}

input:focus {
  outline: none;

}

button {
  background-color: #150b6e;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #0069d9;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.input-field {
  position: relative;
  overflow: hidden;
}

.input-field::before,
.input-field::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  transition: all 0.2s ease-in-out;
}

.input-field::after {
  transform: scaleX(0);
}

.input-field:focus-within::before,
.input-field:focus-within::after {
  height: 100%;
}

.input-field:focus-within::after {
  transform: scaleX(1);
}

.input-field input {
  padding: 12px 24px;
}

.input-field input:focus {
  padding: 12px 56px 12px 24px;
}

.input-field::before,
.input-field::after {
  width: 0;
}

.input-field:focus-within::before {
  width: 56px;
}

h4{
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
}

/* signup.css */

.background-blur {
  position: relative;
}

.background-blur::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/64ed5632e0c52c100c16f293_bg-gamers.webp');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px); /* Adjust the blur intensity as needed */
  z-index: -1;
}
