/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
body{
  background-color: #000000;
}

.signup-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 25px;
  background-color:transparent;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(124, 61, 219, 0.2);
   margin-left: 3%;
   margin-top: 0%;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
}

input {
  padding: 5px;
  border-radius: 4px;
  border: 0.1px solid  #afafba;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  background-color:rgb(9, 9, 60);
  box-shadow: 0 0 2px 1px #007bff;  
  color: #fff;
}

input:focus {
  outline: none;

}

button {
  background-color: #150b6e;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #0069d9;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.input-field {
  position: relative;
  overflow: hidden;
}

.input-field::before,
.input-field::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  transition: all 0.2s ease-in-out;
}

.input-field::after {
  transform: scaleX(0);
}

.input-field:focus-within::before,
.input-field:focus-within::after {
  height: 100%;
}

.input-field:focus-within::after {
  transform: scaleX(1);
}

.input-field input {
  padding: 12px 24px;
}

.input-field input:focus {
  padding: 12px 56px 12px 24px;
}

.input-field::before,
.input-field::after {
  width: 0;
}

.input-field:focus-within::before {
  width: 56px;
}

h4{
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
}

/* signup.css */

.background-blur {
  position: relative;
}

.background-blur::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/64ed5632e0c52c100c16f293_bg-gamers.webp');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px); /* Adjust the blur intensity as needed */
  z-index: -1;
}
