/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 5px;
  }
  
  /* Hero Section */
  .hero {
    background-image: url('https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg');
    background-size: cover;
    color: #f8f3f3;
    padding: 130px 0;
    text-align: center;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero h2 {
    font-size: 36px;
  }
  
  .hero p {
    font-size: 18px;
  }
  
  .btn {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: #d32f2f;
  }
  
  /* Featured Games Section */
  .featured-games {
    margin-top: 50px;
  }
  
  .game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  /* Latest News Section */
  .latest-news {
    margin-top: 50px;
  }
  
  .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  /* Trending Discussions Section */
  .trending-discussions {
    margin-top: 50px;
  }
  
  .discussion-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  