/* Cart.css */

/* components/Layout.module.css */

.forSell {
  width: 100%;
  min-height: 100vh;
  background-image: rgb(62, 20, 109);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  align-items: center; /* Center children horizontally */
}

.finTlawej {
  width: 100%; /* Take full width */
  padding: 20px;
  box-sizing: border-box;
}

.content {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.mt-5 {
  margin-top: 5rem;
}

.row-cols-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensure space between cards */
  gap: 20px; /* Add gap between cards */
}

.card {
  border: 2px solid #e9e1e1;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  width: calc(20% - 20px); /* Adjust the width based on your design, considering gap and padding */
  margin: 10px; /* Add margin to the cards */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.cart-card {
  padding: 1rem;
  background-color: #542929; /* Change background color to white */
  color: #e6dfdf; /* Change text color to black */
  border-radius: 10px;
  width: 150px; /* Set width to 150px */
  height: 150px; /* Set height to 150px */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Update button styling */
.cart-button {
  background-color: #bf6307;
  color: #fff;
  padding: 0.75rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cart-button:hover {
  background-color: #a5771b;
}

.full-description,
.cart-title,
.cart-price {
  color: white; /* Set text color to white */
}

.card-body {
  color: #fff;
}

.heloo {
  color: white;
}

.finTlawej {
  background-color: #25053d;
}
